.dockerignore
Dockerfile
cogs/basic_reswitched.py
cogs/yubicootp.py
.pre-commit-config.yaml
.venv/
.vscode/
Robocop.log
__pycache__/
cogs/__pycache__/
config.py

# Prevent data files from being committed
data/
helpers/__pycache__/
cogs/meme.py
cogs/ryujinx_verification.py
cogs/err.py
